body {
  /*background-color: #5c6572;*/
  background-color: #2c0003;
  font-family: 'Spectral', serif;
}

div.search-row {
  text-align: center;
  margin-top: 10%;
}

input {
  padding: 3px;
  border-radius: 1px;
}

button {
  padding: 3px;
  border-radius: 1px;
}

h1.main-header {
  margin-top: 40px;
  color: black;
  -webkit-text-stroke: 1px yellow;
}

p.cite {
  margin-top: 5px;
  color: yellow;
}

/** After Search **/
div.poster-row {
  text-align: center;
}

div.title-row {
  text-align: center;
  margin-top: 30px;
}

li:before {
    content: "►";
    display: block;
    float: left;
    width: 1.2em;
    color: black;
    margin-left: 15px;
}

div.info-row div {
  padding-bottom: 5px;
}
/** Defaults **/
.center-text {
  text-align: center;
}

/** Horizontal Line **/
.line-style {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/** Custom UL styles **/
.list-style {
  list-style: none;
  margin-left: 0;
  padding-left: 1.2em;
  text-indent: -1.2em;
}
